.slider-container {
    margin-top: 10px;
    width: 110%;
    position: relative;
    overflow: hidden;
  }
  
  .slider {
    display: flex;
    animation: slide 100s infinite linear;
  }
  
  .slide {
    flex: 0 0 100%;
    padding: 0 5px;
  }
  
  img {
    margin-left: 0.1%;
    width: 62%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    border-radius: 5px;
  }
  .rightimg{
    position: absolute;
    top: 0;
    right: 130px;
    width: 28%;
  }

  .rightdown{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 10px;
    bottom: 270px;
    left: 870px;
    width: 370px;
    height: 150px;
  }
 