.slider-container {
    margin-top: 4%;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  
  .slider {
    display: flex;
    animation: slide 100s infinite linear;
  }
  
  .slide {
    flex: 0 0 100%;
    padding: 0 5px;
  }
  
  img {
    margin-left: 0.1%;
    width: 70%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    border-radius: 5px;
  }
  .rightimg{
    position: absolute;
    top: 0;
    right: 10px;
    width: 29%;
  }

  .rightdown{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 10px;
    bottom: 295px;
    left: 886px;
    width: 255px;
    height: 295px;
  }
 