.featuredproducts{
    position: absolute;
    top: 110%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 50px;
}

.top{
   display: flex;
   align-items: center;
   justify-content: space-between;
   text-align: justify;
   margin-right: 30px;
}
    
.titlef{
    flex:1;
    margin-left:45%; 
    text-transform: capitalize;
    font-size: 30px;
}
.titlp{
    padding-left: 37%;
    color: black;
}

p{
    flex: 3;
    font-family:'Times New Roman', Times, serif;
    justify-content: center;
}

.bottom{
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
 margin-top: 3%;
 margin-left: 10px;
 margin-right: 10px;
 gap:50px;
}