.contact{
    margin-top: 30%;
    background-color:gray;
    color: azure;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.wrapper{
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20%;

}

.mail{
    display: flex;
    justify-content: space-between;
    align-items:center;
}

input{
    padding: 5px;
    border: none;
    border-radius: 5px 0 0 5px;
}

.btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px;
    border-radius: 0 5px 5px 0;
    background-color:black;
    color: azure;
}
.icons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:40px;
  width: 40px;
}